* {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

textarea,
button {
    border: none;
    outline: none;
    resize: none;
}

input[type="phone"] {
    font-family: "RubikReg";
}

input[type="phone"],
textarea::placeholder,
input::placeholder {
    color: #B1B1B1;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

input {
    border: none;
    outline: none;
}

input:focus {
    outline: none;
}

.c-h1,
.c-h2,
.c-h3,
.c-factoid {
    font-family: "PrataReg";
}

.c-p1 {
    font-family: "RubikReg";
}
.c-p2,
.c-p3,
.c-btn {
    font-family: "RubikLight";
}

.c-p4 {
    font-family: "RubikIt";
}


.c-h1 {
    font-size: 56px;
    line-height: 130%;
}

.c-h2 {
    font-size: 36px;
    line-height: 130%;
}

.c-h3 {
    font-size: 24px;
    line-height: 130%;
}

.c-p1 {
    font-size: 26px;
    line-height: 150%;
}

.c-p2 {
    font-size: 18px;
    line-height: 150%;
    font-weight: 300;
}

.c-p3 {
    font-size: 15px;
    line-height: 150%;
    font-weight: 300;
}

.c-p4 {
    font-size: 18px;
    line-height: 150%;
}

.c-btn {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.3em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    padding: 23px 47px;
    transition: all 0.3s ease;
    cursor: pointer;
    background: #fff;
}

.c-factoid {
    font-size: 100px;
    line-height: 150%;
}


.c-btn-white {
    background: #FFFFFF;
    color: rgba(32, 32, 32, 0.7);

}

.c-btn:hover {
    background: #A87E40;
    color: rgba(255, 255, 255, 0.7);
}

.c-btn-gray {
    background: #B1B1B1;
    color: rgba(32, 32, 32, 0.7);
}

.c-btn-gray:hover,
.c-btn-white:hover {
    background: #A87E40;
    color: rgba(255, 255, 255, 0.7);
}

.c-link {
    cursor: pointer;
    transition: color 0.3s ease;
}

.c-link:hover {
    color: #A87E40 !important;
    fill: #A87E40 !important;
}

.c-icon-white,
.c-icon-white *::before,
.c-icon-white * {
    color: #fff !important;
    fill: #fff !important;
}

.c-icon-white:hover,
.c-icon-white:hover *,
.c-icon-white:hover *::before {
    color: #A87E40 !important;
    fill: #A87E40 !important;
    border-color: #A87E40 !important;
}

.c-input {
    width: 246px;
    font-size: 18px;
    padding: 10px 10px 8px 10px;
    border-bottom: 1px solid #000;
}

.c-input-error {
    border-bottom: 1px solid #FF7777;
}

.c-error {
    display: none;
    font-size: 12px;
    line-height: 120%;
    font-family: "PrataReg";
    letter-spacing: 0.015em;
    color: #FF7777;
}

.c-input-error ~ .c-error {
    display: block;
}

@media screen and (max-width: 1440px) {
    .c-h1 {
        font-size: 46px;
        line-height: 130%;
    }
    
    .c-h2 {
        font-size: 26px;
        line-height: 130%;
    }
    
    .c-h3 {
        font-size: 18px;
        line-height: 130%;
    }
    
    .c-p1 {
        font-size: 22px;
        line-height: 150%;
    }
    
    .c-p2 {
        font-size: 16px;
        line-height: 150%;
    }
    
    .c-p3 {
        font-size: 14px;
        line-height: 150%;
        font-weight: 300;
    }
    
    .c-p4 {
        font-size: 14px;
        line-height: 150%;
    }
    
    .c-btn {
        font-size: 12px;
        line-height: 14px;
        padding: 21px 48px;
    }
    
    .c-factoid {
        font-size: 75px;
        line-height: 150%;
    }
}


@media screen and (max-width: 1280px) {
    .c-h1 {
        font-size: 36px;
        line-height: 130%;
    }
    
    .c-h2 {
        font-size: 22px;
        line-height: 130%;
    }
    
    .c-h3 {
        font-size: 18px;
        line-height: 130%;
    }
    
    .c-p1 {
        font-size: 18px;
        line-height: 150%;
    }
    
    .c-p2 {
        font-size: 15px;
        line-height: 150%;
    }
    
    .c-p3 {
        font-size: 10px;
        line-height: 150%;
    }
    
    .c-p4 {
        font-size: 14px;
        line-height: 150%;
    }
    
    .c-btn {
        font-size: 12px;
        line-height: 14px;
        padding: 15px 30px;
    }
    
    .c-factoid {
        font-size: 60px;
        line-height: 150%;
    }
}


@media screen and (max-width: 768px) {
    .c-h1 {
        font-size: 28px;
        line-height: 130%;
    }
    
    .c-h2 {
        font-size: 22px;
        line-height: 130%;
    }
    
    .c-p1 {
        font-size: 14px;
        line-height: 150%;
    }
    
    .c-p2 {
        font-size: 15px;
        line-height: 150%;
    }
    
    .c-p3 {
        font-size: 10px;
        line-height: 150%;
    }
    
    .c-p4 {
        font-size: 14px;
        line-height: 150%;
    }
    
    .c-btn {
        font-size: 12px;
        line-height: 14px;
    }
    
    .c-factoid {
        font-size: 60px;
        line-height: 150%;
    }
}

@font-face {
    font-family: "PrataReg";
    src: url(./fonts/Prata-Regular.ttf);
}

@font-face {
    font-family: "RubikReg";
    src: url(./fonts/Rubik-Regular.ttf);
}

@font-face {
    font-family: "RubikLight";
    src: url(./fonts/Rubik-Light.ttf);
}

@font-face {
    font-family: "RubikLightIt";
    src: url(./fonts/Rubik-LightItalic.ttf);
}

@font-face {
    font-family: "RubikIt";
    src: url(./fonts/Rubik-Italic.ttf);
}

@font-face {
    font-family: "Montserrat";
    src: url(./fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: 'icomoon';
    src:  url('./fonts/icomoon.eot?idka8l');
    src:  url('./fonts/icomoon.eot?idka8l#iefix') format('embedded-opentype'),
      url('./fonts/icomoon.ttf?idka8l') format('truetype'),
      url('./fonts/icomoon.woff?idka8l') format('woff'),
      url('./fonts/icomoon.svg?idka8l#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-error::before {
    content: "\31";
    color: rgb(255, 119, 119);
  }
  .icon-error::after {
    content: "\32";
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  .icon-error-cross .path1:before {
    content: "\e900";
    color: rgb(137, 137, 137);
  }
  .icon-error-cross .path2:before {
    content: "\e901";
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  .icon-cross:before {
    content: "\33";
    color: #000;
  }
  .icon-phone:before {
    content: "\34";
    color: #fff;
  }
  .icon-mail:before {
    content: "\35";
    color: #fff;
  }
  .icon-whatsapp:before {
    content: "\36";
    color: #fff;
  }
  .icon-telegram:before {
    content: "\37";
    color: #fff;
  }
  